@font-face {
  font-family: sunflower;
  src: url(fonts/royal-street-extralight.otf)
}

html, body {
  margin: 0;
}

.container {
  padding: 5vw;
}

.header {
  font-family: sunflower;
  font-size:8vw;
  margin:0
}

.full-image {
  max-width: 100%;
  height: auto;
}